<% content_for :css do %>
  <%= stylesheet_link_tag 'comment_index' %>
<% end %>

<div class="main-wrapper">
  <div class="main-container">
    <%= link_to "声がきこえる？", tweets_path, class: "donokoe" %>
  </div>
</div>