<% content_for :css do %>
  <%= stylesheet_link_tag 'footer' %>
<% end %>
 
 <footer>
  <div class="footer-container">
    <div class="menu-list-container">
      <ul class="doors">
        <li class="door01">
          <%= link_to "ノックをする", "#" %>
        </li>
        <li class="door02">
          <a href="#">たからばこ</a>
        </li>
        <li class="door03">
          <a href="#">ろくおん部屋</a>
        </li>
      </ul>
    </div>
  </div>
</footer>