// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CSSのリセット（消さない） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'いろはマル', 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background: #F5F5F5;
 
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  text-shadow:1px 1px 2px rgba(51, 51, 51, 0.6);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ---audio--------------------------

.audio-container {
  background-color: yellow;
  height: 100vh;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;

  background: url('/img/umi18.jpg');
  background-size: cover;
  height: 100vh;
}

.controller {
  // background-color: pink;
  height: 200px;
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.start {
  padding: 5px;
  height: 100px;
  width: 160px;
  border-radius: 10px;
  font-size: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.stop {
  padding: 5px;
  height: 100px;
  width: 160px;
  border-radius: 10px;
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
}

.downloaded {
  margin: 0 auto;
  height: 200px;
  width: 450px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #eee;
  background    : rgba(255, 255, 255, 0.2);
  box-shadow:2px 3px 10px rgba(51, 51, 51, 0.6);
}

.downloaded p {
  font-size: 23px;
  margin-bottom: 20px;
  color: rgba(51, 51, 51, 0.8);
}

.downloaded a {
  margin: 0 auto;
  font-size: 23px;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #eee;
  width: 200px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow:2px 3px 10px rgba(51, 51, 51, 0.6);
  color: rgba(51, 51, 51, 0.6);
  text-shadow:1px 1px 2px rgba(51, 51, 51, 0.3); 
  cursor: pointer;
}





// ----header--------

.header-container {
  height: 65px;
  min-width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 213, 236, 0.3);
  position: fixed;
  top: 0;
  z-index: 10;
  
}

.header-right {
  padding-right: 80px;
  
}

.logo {
  padding-left: 30px;
}

.logo:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  opacity: 0.7;
  text-shadow:1px 1px 2px rgba(51, 51, 51, 0.6);
  font-weight: bold;
  font-size: 25px;
}

.user-nickname:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}


.logout {
  text-decoration: none;
  color: #333333;
  color: white;
  opacity: 0.7;
  font-size: 25px;
}

.logout:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 25px;
}

.login:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.sign-up:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

// -------footer----------

.footer-container {
  height:80px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);  position: fixed;
  bottom: 0;
  z-index: 10;
  color: rgba(255, 213, 236, 0.3);
}

.menu-list-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 180px;
  font-size: 25px;
}