// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CSSのリセット（消さない） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'いろはマル', 'Hiragino Kaku Gothic ProN W3', sans-serif;

}

a {
  text-decoration: none;
}



.main-container {
  height: 100vh;
  margin: 0 auto;
  padding-top: 295px; 
  text-align: center;
  position: relative;
  background: url('/img/momiji_Fotor.jpg');
  background-size: 100% auto;

}

.donokoe {
  color: white;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  top: 350px;
  right: 590px;
}

.donokoe:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px,
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px;
}

// // ----header--------

header{
  display: none;
}

// // -------footer----------

.footer-container {
  display: none;
}