// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CSSのリセット（消さない） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'いろはマル', 'Hiragino Kaku Gothic ProN W3', sans-serif;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}



.main-container {
  height: 100vh;
  margin: 0 auto;
  padding-top: 295px; 
  text-align: center;
  position: relative;
  background: url('/img/momiji_Fotor.jpg');
  background-size: 100%;
  height: calc(100vh - 150px - 65px);
}

.donokoe {
  color: white;
  font-size: 20px;
  opacity: 0.8;
  position: absolute;
  top: 350px;
  right: 590px;
}

.donokoe:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px,
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px;
}

// // ----header--------

.header-container {
//   height: 65px;
//   min-width: 100vw;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: fixed;
//   top: 0;
//   z-index: 10;
  background-color: black;
}

// .header-right {
//   padding-right: 80px;
  
// }

// .logo {
//   padding-left: 30px;
  
// }

// .lists-right {
//   display: flex;
//   list-style: none;
//   align-items: center;
  
// }

.user-nickname {
//   text-decoration: none;
//   margin-right: 3vw;
//   color: #333333;
//   font-weight: bold;
//   color: white;
//   opacity: 0.7;
color: black;
}


.logout {
//   text-decoration: none;
//   color: #333333;
//   color: white;
//   opacity: 0.7;
color: black;
}

.login {
//   text-decoration: none;
//   line-height: 32px;
//   margin-right: 3vw;
  color: black;
}

// .sign-up {
//   text-decoration: none;
//   color: #333333;
// }

.logo {
//   font-size: 28px;
//   font-weight: bold;
color: black;
}

// // -------footer----------

.footer-container {
//   height: 150px;
//   width: 100%;
//   background-color: rgba(255, 213, 236, 0.2);
//   position: fixed;
//   bottom: 0;
//   z-index: 10;
//   color: rgba(255, 213, 236, 0.2);
background: black;
color: black;
}

// .menu-list-container ul {
// //   display: flex;
// //   justify-content: space-between;
// //   align-items: center;
// //   padding: 60px 180px;
// //   font-size: 25px;
// color: black;
// }

.menu-list-container a {
  color: black;
}