// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CSSのリセット（消さない） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'いろはマル', 'Hiragino Kaku Gothic ProN W3', sans-serif;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}



// -----------------

.koes-container {
  text-align: center;
  background: url('/img/umi24.jpg');
  background-size: cover;
  height: 100%;
  display: flex;
}

.donokoe-container {
  position: fixed;
  width: 350px;
  margin: 0px auto;
  padding: 205px 40px 0px 40px;
  background: rgba(255, 255, 255, 0.3);
  height: 100%;
}

.donokoe {
  font-size: 25px;
  color: #555;
  margin-bottom: 50px;
}

.koe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-message {
  height: 230px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  outline: none;
  margin-bottom: 5px;
  opacity: 0.9;
  background    : rgba(255, 255, 255, 0.3);
  font-size: 20px;
  color: rgba(51, 51, 51, 0.5);}

.input-tag {
  width: 230px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  outline: none;
  opacity: 0.9;
  background    : rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 15px;
}


.submit-btn {
  border-radius : 5px;
  padding: 3px 8px;
  font-size     : 13pt;
  text-align    : center;
  cursor        : pointer;
  background    : rgba(255, 255, 255, 0.3);
  color         : rgba(51, 51, 51, 0.5);
  box-shadow    : 6px 6px 6px rgba(51, 51, 51, 0.5);
  border        : none;
}

.search-input {
  border-radius : 5px;
  cursor        : pointer;
  border: 1px solid #f5f5f5;
  outline: none;
  opacity: 0.9;
  background    : rgba(255, 255, 255, 0.3);
  padding: 3px 5px;
}

.search-btn {
  border-radius : 5px;
  cursor        : pointer;
  background    : rgba(255, 255, 255, 0.3);
  color         : rgba(51, 51, 51, 0.5);
  box-shadow    : 6px 6px 6px rgba(51, 51, 51, 0.5);
  border        : none;
  margin-left   : 10px;
}


// --------------------------

.many_koes {
  width: calc(100vw - 350px);
  padding-top: 120px;
  margin: 0 500px;
}

.post{
  margin: 0 auto;
  padding: 20px 30px 8px 30px;
  margin-bottom: 50px;
  border-radius: 10px;
  background    : rgba(255, 255, 255, 0.3);
  box-shadow    : 6px 6px 6px rgba(51, 51, 51, 0.5);
  width: 800px;
  height: 300px;
  position: relative;
}

.post-content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.tag {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

.hover-btn:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px,
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px;
}


.under-menu {
  font-size: 25px;
}

.user-name {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.only-user {
  position: absolute;
  bottom: 10px;
  right: 30px;
  list-style: none;
  display: flex;
}


.only-user li {
  padding-left: 15px;
}

.post-date {
  font-size: 18px;
  text-align: left;
  color: gray;
  margin-bottom: 20px;
}

// ----header--------

.header-container {
  height: 65px;
  min-width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 213, 231, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
  
}

.header-right {
  padding-right: 80px;
  
}

.logo {
  padding-left: 30px;
}

.logo:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  opacity: 0.7;
  text-shadow:1px 1px 2px rgba(51, 51, 51, 0.6);
  font-weight: bold;
  font-size: 25px;
}

.user-nickname:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}


.logout {
  text-decoration: none;
  color: #333333;
  color: white;
  opacity: 0.7;
  font-size: 25px;
}

.logout:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 25px;
}

.login:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.sign-up:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

// -------footer----------

.footer-container {
  height:80px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.3);
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: rgba(255, 213, 236, 0.3);
}

.menu-list-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 180px;
  font-size: 25px;
}