// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CSSのリセット（消さない） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'いろはマル', 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background: #F5F5F5;
}

li {
  list-style: none;
}


a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.non-takaramono {
  color: black;
}

.show {
  display: flex;
  width: 100vw;
  background: url('/img/yuki.jpg');
  background-size: cover;
}

.post-container {
  width: 100vw;
  height: 100%;
  padding-top: 105px;
}

.content-post {
  background    : rgba(255, 255, 255, 0.3);
  box-shadow    : 6px 6px 6px rgba(51, 51, 51, 0.5); 
  width: 350px;
  height: 400px;
  margin: 0 770px;
  text-align: center;
  padding: 20px 40px 0px 40px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 60px;
  font-size: 20px;
  color: #555;
}


.post-date {
  font-size: 18px;
  text-align: left;
  color: gray;
  margin-bottom: 20px;
}

.tweet-username{
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #555;
}


.under-menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 25px;
}

.only-user {
  list-style: none;
  display: flex;  
}


.only-user li {
  padding-left: 15px;
}

.hover-btn:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px,
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px;
}

// ----comment-form-------------------------------------

.gift-container {
  position: fixed;
  width: 450px;
  height: 100%;
  margin: 0px auto;
  padding: 100px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background: rgba(255, 255, 255, 0.3);
}

.kotobawokakeru {
  height: 230px;
  width: 230px;
  border-radius: 5px;
  background    : rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(51,51,51,0.3);
  outline: none;
  font-size: 15px;
  padding: 5px;
}

.okuru {
  width: 80px;
  border: none;
  color: rgba(51,51,51,0.7);
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(51, 51, 51, 0.2);
  font-size: 15px;
  cursor: pointer;
}

.okuru:hover {
  box-shadow:
  1px 1px 40px rgba(255, 255, 255, 1),
  1px 1px 40px rgba(255, 255, 255, 1),
  1px 1px 40px rgba(255, 255, 255, 1),
  1px 1px 40px rgba(255, 255, 255, 1),
  1px 1px 40px rgba(255, 255, 255, 1);
  border: solid 1px rgba(51, 51, 51, 0.1);
}

.for-not-user {
  margin-top: 100px;
  text-align: center;
  color: rgba(51,51,51,0.8);
}

.for-not-user a {
  color: rgba(51,51,51,0.8);
  text-shadow: 1px 1px 4px rgba(51, 51, 51, 0.3);
}

.for-not-user a:hover {
  color: rgba(51,51,51,0.9);
  
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px,
  yellow 1px 1px 40px, yellow -1px 1px 40px,
  yellow 1px -1px 40px, yellow -1px -1px 40px;
}

// -----gift------------------------------

.gifts-container {
  margin: 0 auto;
  height: 100%;
}

.gifts {
  width: 740px;
  padding: 20px;
  color: rgba(51,51,51,0.7);
  background: rgba(255, 255, 255, 0.5);
  margin: 0 580px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.gifts h3 {
  text-align:center;
  margin: 30px;
  color: rgba(51,51,51,0.7);
}

.comment-date {
  font-size:9px;
}

.image-or-audio {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.image-file {
  color: #777777;
  cursor: pointer;
  display: block;
  margin-right: 50px;
  font-size: 4em;
}

.send-image {
  display: none;
  position: absolute;
  top: 80px;
  left: -10px;
  border-radius: 5px;
  background: white;
  color: rgba(51, 51, 51, 0.8);
  border: 1px solid rgba(255,255,255,0.3);
  outline: none;
  font-size: 15px;
  padding-left: 10px;

}




// .send-image:after {
//   position: absolute;
//   width: 100px;
//   // margin-left: 10px;
//   border-color: rgba(51, 204, 153, 0);
//   border-width: 10px;
//   pointer-events: none;
//   content: " ";
// }


.image-file:hover + .send-image {
  display: block;
}



.audio-file {
  color: #777777;
  cursor: pointer;
  display: block;
  font-size: 3.5em;
}

.send-audio {
  display: none;
  position: absolute;
  width: 120px;
  top: 80px;
  right: -30px;
  border-radius: 5px;
  background: white;
  color: rgba(51, 51, 51, 0.8);
  border: 1px solid rgba(255,255,255,0.3);
  outline: none;
  padding-left: 10px;
  font-size: 15px;
}

// .send-audio:after {
//   // position: absolute;
//   // width: 120px;
//   // top: 50px;
//   // border-radius: 5px;
//   // border: solid transparent;
//   // border-color: rgba(51, 204, 153, 0);
//   // pointer-events: none;
//   // content: " ";
  
// }


.audio-file:hover + .send-audio {
  display: block;
}





.hidden {
  display: none;
}

// ----header--------

.header-container {
  height: 65px;
  min-width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(102, 204, 255, 0.2);
  position: fixed;
  top: 0;
  z-index: 10;
  
}

.header-right {
  padding-right: 80px;
  
}

.logo {
  padding-left: 30px;
}

.logo:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: center;
  
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: white;
  opacity: 0.7;
  text-shadow:1px 1px 2px rgba(51, 51, 51, 0.6);
  font-weight: bold;
  font-size: 25px;
}

.user-nickname:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}


.logout {
  text-decoration: none;
  color: #333333;
  color: white;
  opacity: 0.7;
  font-size: 25px;
}

.logout:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  font-size: 22px;
}

.login:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.sign-up {
  color: #333333;
  text-decoration: none;
  font-family: 'いろはマル', 'Hiragino Kaku Gothic ProN W3', sans-serif;
  font-size: 20px;
}

.sign-up:hover {
  opacity: 1;
  text-shadow:
  yellow 1px 1px 40px, yellow -1px 1px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

// -------footer----------

footer {
  display: none;
}

.show-footer-container {
  height:80px;
  width: 400px;
  position: fixed;
  bottom: 0;
  z-index: 10;
 
  text-shadow:
  white 1px 1px 40px, white -1px 1px 40px,
  white 1px -1px 40px, white -1px -1px 40px;
}


.show-footer-container:hover {
  text-shadow:
yellow 1px 1px 40px, yellow -1px 1px 40px,
yellow 1px -1px 40px, yellow -1px -1px 40px,
yellow 1px 1px 40px, yellow -1px 1px 40px,
yellow 1px -1px 40px, yellow -1px -1px 40px,
white 1px 1px 40px, white -1px 1px 40px,
white 1px -1px 40px, white -1px -1px 40px,
red 1px 1px 40px, red -1px 1px 40px,
red 1px -1px 40px, red -1px -1px 40px,
blue 1px 1px 40px,  blue -1px 1px 40px,
blue 1px -1px 40px,  blue -1px -1px 40px;
}

.show-footer-container a {
  color: rgba(51, 51, 51, 0.8); 
}

.menu-list-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px ;
}

.doors a{
  color: #555;
}

.doors a:hover{
  color: #fff;
}